---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.de/onca/xml?AWSAccessKeyId=AKIAIZFAWKXP4XEATBWQ&AssociateTag=nofail-21&BrowseNodeId=78689031&Operation=BrowseNodeLookup&ResponseGroup=BrowseNodeInfo&Service=AWSECommerceService&Signature=LsGkA%2Bm3xDsiysWuNCosAFE40/RjeshpfTnev6bdjG4=&Timestamp=2017-08-15T15:45:20Z&Version=2011-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" ?><BrowseNodeLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="HTTPClient/1.0 (2.8.3, ruby 2.4.0 (2016-12-24))"/></HTTPHeaders><RequestId>6e9ea7bd-7bc7-45b7-a951-4ecfe14fb01f</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAIZFAWKXP4XEATBWQ"/><Argument Name="AssociateTag"
        Value="nofail-21"/><Argument Name="BrowseNodeId" Value="78689031"/><Argument
        Name="Operation" Value="BrowseNodeLookup"/><Argument Name="ResponseGroup"
        Value="BrowseNodeInfo"/><Argument Name="Service" Value="AWSECommerceService"/><Argument
        Name="Timestamp" Value="2017-08-15T15:45:20Z"/><Argument Name="Version" Value="2011-08-01"/><Argument
        Name="Signature" Value="LsGkA+m3xDsiysWuNCosAFE40/RjeshpfTnev6bdjG4="/></Arguments><RequestProcessingTime>0.001436015</RequestProcessingTime></OperationRequest><BrowseNodes><Request><IsValid>True</IsValid><BrowseNodeLookupRequest><BrowseNodeId>78689031</BrowseNodeId><ResponseGroup>BrowseNodeInfo</ResponseGroup></BrowseNodeLookupRequest></Request><BrowseNode><BrowseNodeId>78689031</BrowseNodeId><Name>Kategorien</Name><IsCategoryRoot>1</IsCategoryRoot><Children><BrowseNode><BrowseNodeId>1981665031</BrowseNodeId><Name>Damen</Name></BrowseNode><BrowseNode><BrowseNodeId>1981298031</BrowseNodeId><Name>Herren</Name></BrowseNode><BrowseNode><BrowseNodeId>1981210031</BrowseNodeId><Name>Mädchen</Name></BrowseNode><BrowseNode><BrowseNodeId>1981125031</BrowseNodeId><Name>Jungen</Name></BrowseNode><BrowseNode><BrowseNodeId>1981001031</BrowseNodeId><Name>Baby</Name></BrowseNode><BrowseNode><BrowseNodeId>1981410031</BrowseNodeId><Name>Spezielle
        Anlässe &amp; Arbeitskleidung</Name></BrowseNode></Children><Ancestors><BrowseNode><BrowseNodeId>77028031</BrowseNodeId><Name>Bekleidung</Name></BrowseNode></Ancestors></BrowseNode></BrowseNodes></BrowseNodeLookupResponse>
  recorded_at: Tue, 15 Aug 2017 15:45:20 GMT
recorded_with: VCR 3.0.3
