---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.de/onca/xml?AWSAccessKeyId=AKIAIZFAWKXP4XEATBWQ&AssociateTag=nofail-21&Item.0.ASIN=B008GTZ3KY&Item.0.Quantity=1&Operation=CartCreate&Service=AWSECommerceService&Signature=No2e3QHJoISopu1UdEuVqJ11PJAv6c7DMsiB2GiVPNk=&Timestamp=2017-08-15T15:47:29Z&Version=2011-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" ?><CartCreateResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="HTTPClient/1.0 (2.8.3, ruby 2.4.0 (2016-12-24))"/></HTTPHeaders><RequestId>6ef99e5e-0239-41a3-b3f0-5541a53fb858</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAIZFAWKXP4XEATBWQ"/><Argument Name="AssociateTag"
        Value="nofail-21"/><Argument Name="Item.0.ASIN" Value="B008GTZ3KY"/><Argument
        Name="Item.0.Quantity" Value="1"/><Argument Name="Operation" Value="CartCreate"/><Argument
        Name="Service" Value="AWSECommerceService"/><Argument Name="Timestamp" Value="2017-08-15T15:47:29Z"/><Argument
        Name="Version" Value="2011-08-01"/><Argument Name="Signature" Value="No2e3QHJoISopu1UdEuVqJ11PJAv6c7DMsiB2GiVPNk="/></Arguments><RequestProcessingTime>0.0877506</RequestProcessingTime></OperationRequest><Cart><Request><IsValid>True</IsValid><CartCreateRequest><Items><Item><ASIN>B008GTZ3KY</ASIN><Quantity>1</Quantity></Item></Items></CartCreateRequest></Request><CartId>258-6522543-1205759</CartId><HMAC>L9US8ARUCbVRtpM/4WO6psTZMjU=</HMAC><URLEncodedHMAC>L9US8ARUCbVRtpM%2F4WO6psTZMjU%3D</URLEncodedHMAC></Cart></CartCreateResponse>
  recorded_at: Tue, 15 Aug 2017 15:47:29 GMT
- request:
    method: get
    uri: http://webservices.amazon.de/onca/xml?AWSAccessKeyId=AKIAIZFAWKXP4XEATBWQ&AssociateTag=nofail-21&CartId=258-6522543-1205759&HMAC=L9US8ARUCbVRtpM/4WO6psTZMjU=&Operation=CartClear&Service=AWSECommerceService&Signature=mF0AxCVVJ4zUtykywq33kzncgZsuW5J4mDTmi0kX9Ro=&Timestamp=2017-08-15T15:47:29Z&Version=2011-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" ?><CartClearResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="HTTPClient/1.0 (2.8.3, ruby 2.4.0 (2016-12-24))"/></HTTPHeaders><RequestId>a06b59e8-add7-4a39-9280-a4be655ff98f</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAIZFAWKXP4XEATBWQ"/><Argument Name="AssociateTag"
        Value="nofail-21"/><Argument Name="CartId" Value="258-6522543-1205759"/><Argument
        Name="HMAC" Value="L9US8ARUCbVRtpM/4WO6psTZMjU="/><Argument Name="Operation"
        Value="CartClear"/><Argument Name="Service" Value="AWSECommerceService"/><Argument
        Name="Timestamp" Value="2017-08-15T15:47:29Z"/><Argument Name="Version" Value="2011-08-01"/><Argument
        Name="Signature" Value="mF0AxCVVJ4zUtykywq33kzncgZsuW5J4mDTmi0kX9Ro="/></Arguments><RequestProcessingTime>0.017243885</RequestProcessingTime></OperationRequest><Cart><Request><IsValid>True</IsValid><CartClearRequest><CartId>258-6522543-1205759</CartId><HMAC>L9US8ARUCbVRtpM/4WO6psTZMjU=</HMAC></CartClearRequest></Request><CartId>258-6522543-1205759</CartId><HMAC>L9US8ARUCbVRtpM/4WO6psTZMjU=</HMAC><URLEncodedHMAC>L9US8ARUCbVRtpM%2F4WO6psTZMjU%3D</URLEncodedHMAC></Cart></CartClearResponse>
  recorded_at: Tue, 15 Aug 2017 15:47:29 GMT
recorded_with: VCR 3.0.3
