---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.de/onca/xml?AWSAccessKeyId=AKIAIZFAWKXP4XEATBWQ&AssociateTag=nofail-21&Item.0.ASIN=B008GTZ3KY&Item.0.Quantity=1&Operation=CartCreate&Service=AWSECommerceService&Signature=Oi%2BgIRCsWY5Vle2qVB7eH7NP/AEaOxqSlwwTc5CXINQ=&Timestamp=2017-08-15T15:47:30Z&Version=2011-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" ?><CartCreateResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="HTTPClient/1.0 (2.8.3, ruby 2.4.0 (2016-12-24))"/></HTTPHeaders><RequestId>ce8df022-ac39-4fc9-b2b0-b24545c22fb3</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAIZFAWKXP4XEATBWQ"/><Argument Name="AssociateTag"
        Value="nofail-21"/><Argument Name="Item.0.ASIN" Value="B008GTZ3KY"/><Argument
        Name="Item.0.Quantity" Value="1"/><Argument Name="Operation" Value="CartCreate"/><Argument
        Name="Service" Value="AWSECommerceService"/><Argument Name="Timestamp" Value="2017-08-15T15:47:30Z"/><Argument
        Name="Version" Value="2011-08-01"/><Argument Name="Signature" Value="Oi+gIRCsWY5Vle2qVB7eH7NP/AEaOxqSlwwTc5CXINQ="/></Arguments><RequestProcessingTime>0.082791135</RequestProcessingTime></OperationRequest><Cart><Request><IsValid>True</IsValid><CartCreateRequest><Items><Item><ASIN>B008GTZ3KY</ASIN><Quantity>1</Quantity></Item></Items></CartCreateRequest></Request><CartId>262-5451185-2396406</CartId><HMAC>vq/wnL6+KzLXWWP49N5gAbwBJyg=</HMAC><URLEncodedHMAC>vq%2FwnL6%2BKzLXWWP49N5gAbwBJyg%3D</URLEncodedHMAC></Cart></CartCreateResponse>
  recorded_at: Tue, 15 Aug 2017 15:47:30 GMT
recorded_with: VCR 3.0.3
