---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.de/onca/xml?AWSAccessKeyId=AKIAIZFAWKXP4XEATBWQ&AssociateTag=nofail-21&Item.0.ASIN=B008GTZ3KY&Item.0.Quantity=1&Operation=CartCreate&Service=AWSECommerceService&Signature=Oi%2BgIRCsWY5Vle2qVB7eH7NP/AEaOxqSlwwTc5CXINQ=&Timestamp=2017-08-15T15:47:30Z&Version=2011-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" ?><CartCreateResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="HTTPClient/1.0 (2.8.3, ruby 2.4.0 (2016-12-24))"/></HTTPHeaders><RequestId>0d6b4d47-200b-4cf9-a156-2a005feb4c1b</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAIZFAWKXP4XEATBWQ"/><Argument Name="AssociateTag"
        Value="nofail-21"/><Argument Name="Item.0.ASIN" Value="B008GTZ3KY"/><Argument
        Name="Item.0.Quantity" Value="1"/><Argument Name="Operation" Value="CartCreate"/><Argument
        Name="Service" Value="AWSECommerceService"/><Argument Name="Timestamp" Value="2017-08-15T15:47:30Z"/><Argument
        Name="Version" Value="2011-08-01"/><Argument Name="Signature" Value="Oi+gIRCsWY5Vle2qVB7eH7NP/AEaOxqSlwwTc5CXINQ="/></Arguments><RequestProcessingTime>0.049836863</RequestProcessingTime></OperationRequest><Cart><Request><IsValid>True</IsValid><CartCreateRequest><Items><Item><ASIN>B008GTZ3KY</ASIN><Quantity>1</Quantity></Item></Items></CartCreateRequest></Request><CartId>262-5065554-6542921</CartId><HMAC>0EpG0/gqCedrF/B8IpUz/Ggx7jQ=</HMAC><URLEncodedHMAC>0EpG0%2FgqCedrF%2FB8IpUz%2FGgx7jQ%3D</URLEncodedHMAC></Cart></CartCreateResponse>
  recorded_at: Tue, 15 Aug 2017 15:47:30 GMT
- request:
    method: get
    uri: http://webservices.amazon.de/onca/xml?AWSAccessKeyId=AKIAIZFAWKXP4XEATBWQ&AssociateTag=nofail-21&CartId=262-5065554-6542921&HMAC=0EpG0/gqCedrF/B8IpUz/Ggx7jQ=&Item.0.ASIN=1430216263&Item.0.Quantity=2&Operation=CartAdd&Service=AWSECommerceService&Signature=DpUiPudl67jCD/trWQ2cLv5LGrgukn/b2ouDu7lbyvg=&Timestamp=2017-08-15T15:47:30Z&Version=2011-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" ?><CartAddResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="HTTPClient/1.0 (2.8.3, ruby 2.4.0 (2016-12-24))"/></HTTPHeaders><RequestId>1d8ffd12-c75a-4447-9718-c5623ecd8e1b</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAIZFAWKXP4XEATBWQ"/><Argument Name="AssociateTag"
        Value="nofail-21"/><Argument Name="CartId" Value="262-5065554-6542921"/><Argument
        Name="HMAC" Value="0EpG0/gqCedrF/B8IpUz/Ggx7jQ="/><Argument Name="Item.0.ASIN"
        Value="1430216263"/><Argument Name="Item.0.Quantity" Value="2"/><Argument
        Name="Operation" Value="CartAdd"/><Argument Name="Service" Value="AWSECommerceService"/><Argument
        Name="Timestamp" Value="2017-08-15T15:47:30Z"/><Argument Name="Version" Value="2011-08-01"/><Argument
        Name="Signature" Value="DpUiPudl67jCD/trWQ2cLv5LGrgukn/b2ouDu7lbyvg="/></Arguments><RequestProcessingTime>0.14487109</RequestProcessingTime></OperationRequest><Cart><Request><IsValid>True</IsValid><CartAddRequest><CartId>262-5065554-6542921</CartId><HMAC>0EpG0/gqCedrF/B8IpUz/Ggx7jQ=</HMAC><Items><Item><ASIN>1430216263</ASIN><Quantity>2</Quantity></Item></Items></CartAddRequest></Request><CartId>262-5065554-6542921</CartId><HMAC>0EpG0/gqCedrF/B8IpUz/Ggx7jQ=</HMAC><URLEncodedHMAC>0EpG0%2FgqCedrF%2FB8IpUz%2FGgx7jQ%3D</URLEncodedHMAC><PurchaseURL>https://www.amazon.de/gp/cart/aws-merge.html?cart-id=262-5065554-6542921&amp;associate-id=nofail-21&amp;hmac=0EpG0%2FgqCedrF%2FB8IpUz%2FGgx7jQ%3D&amp;SubscriptionId=AKIAIZFAWKXP4XEATBWQ&amp;MergeCart=False</PurchaseURL><SubTotal><Amount>6418</Amount><CurrencyCode>EUR</CurrencyCode><FormattedPrice>EUR
        64,18</FormattedPrice></SubTotal><CartItems><SubTotal><Amount>6418</Amount><CurrencyCode>EUR</CurrencyCode><FormattedPrice>EUR
        64,18</FormattedPrice></SubTotal><CartItem><CartItemId>C1FVQEPY2R9OK7</CartItemId><ASIN>1430216263</ASIN><SellerNickname>Amazon.de</SellerNickname><Quantity>2</Quantity><Title>Beginning
        iPhone Development: Exploring the iPhone SDK</Title><ProductGroup>Book</ProductGroup><Price><Amount>3209</Amount><CurrencyCode>EUR</CurrencyCode><FormattedPrice>EUR
        32,09</FormattedPrice></Price><ItemTotal><Amount>6418</Amount><CurrencyCode>EUR</CurrencyCode><FormattedPrice>EUR
        64,18</FormattedPrice></ItemTotal></CartItem></CartItems></Cart></CartAddResponse>'
  recorded_at: Tue, 15 Aug 2017 15:47:30 GMT
recorded_with: VCR 3.0.3
