---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.de/onca/xml?AWSAccessKeyId=AKIAIZFAWKXP4XEATBWQ&AssociateTag=nofail-21&Item.0.ASIN=B008GTZ3KY&Item.0.Quantity=1&Item.1.ASIN=1430216263&Item.1.Quantity=2&Operation=CartCreate&Service=AWSECommerceService&Signature=W/v0Qz7B2vCzOoe%2B856g1jwYafMWeE/CRBmpH5HEKWI=&Timestamp=2017-08-15T15:47:28Z&Version=2011-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" ?><CartCreateResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="HTTPClient/1.0 (2.8.3, ruby 2.4.0 (2016-12-24))"/></HTTPHeaders><RequestId>e36ffe6e-c0c8-47a2-be34-b5d0fd0604c6</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAIZFAWKXP4XEATBWQ"/><Argument Name="AssociateTag"
        Value="nofail-21"/><Argument Name="Item.0.ASIN" Value="B008GTZ3KY"/><Argument
        Name="Item.0.Quantity" Value="1"/><Argument Name="Item.1.ASIN" Value="1430216263"/><Argument
        Name="Item.1.Quantity" Value="2"/><Argument Name="Operation" Value="CartCreate"/><Argument
        Name="Service" Value="AWSECommerceService"/><Argument Name="Timestamp" Value="2017-08-15T15:47:28Z"/><Argument
        Name="Version" Value="2011-08-01"/><Argument Name="Signature" Value="W/v0Qz7B2vCzOoe+856g1jwYafMWeE/CRBmpH5HEKWI="/></Arguments><RequestProcessingTime>0.24902163</RequestProcessingTime></OperationRequest><Cart><Request><IsValid>True</IsValid><CartCreateRequest><Items><Item><ASIN>B008GTZ3KY</ASIN><Quantity>1</Quantity></Item><Item><ASIN>1430216263</ASIN><Quantity>2</Quantity></Item></Items></CartCreateRequest></Request><CartId>260-5138899-9439647</CartId><HMAC>9QxoxJzfy7LhdHK6Y+tGjoC6CcI=</HMAC><URLEncodedHMAC>9QxoxJzfy7LhdHK6Y%2BtGjoC6CcI%3D</URLEncodedHMAC><PurchaseURL>https://www.amazon.de/gp/cart/aws-merge.html?cart-id=260-5138899-9439647&amp;associate-id=nofail-21&amp;hmac=9QxoxJzfy7LhdHK6Y%2BtGjoC6CcI%3D&amp;SubscriptionId=AKIAIZFAWKXP4XEATBWQ&amp;MergeCart=False</PurchaseURL><SubTotal><Amount>6418</Amount><CurrencyCode>EUR</CurrencyCode><FormattedPrice>EUR
        64,18</FormattedPrice></SubTotal><CartItems><SubTotal><Amount>6418</Amount><CurrencyCode>EUR</CurrencyCode><FormattedPrice>EUR
        64,18</FormattedPrice></SubTotal><CartItem><CartItemId>C1FVQEPY2R9OK7</CartItemId><ASIN>1430216263</ASIN><SellerNickname>Amazon.de</SellerNickname><Quantity>2</Quantity><Title>Beginning
        iPhone Development: Exploring the iPhone SDK</Title><ProductGroup>Book</ProductGroup><Price><Amount>3209</Amount><CurrencyCode>EUR</CurrencyCode><FormattedPrice>EUR
        32,09</FormattedPrice></Price><ItemTotal><Amount>6418</Amount><CurrencyCode>EUR</CurrencyCode><FormattedPrice>EUR
        64,18</FormattedPrice></ItemTotal></CartItem></CartItems></Cart></CartCreateResponse>'
  recorded_at: Tue, 15 Aug 2017 15:47:29 GMT
recorded_with: VCR 3.0.3
