---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.de/onca/xml?AWSAccessKeyId=AKIAIZFAWKXP4XEATBWQ&AssociateTag=nofail-21&Item.0.ASIN=B008GTZ3KY&Item.0.Quantity=1&Operation=CartCreate&Service=AWSECommerceService&Signature=No2e3QHJoISopu1UdEuVqJ11PJAv6c7DMsiB2GiVPNk=&Timestamp=2017-08-15T15:47:29Z&Version=2011-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" ?><CartCreateResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="HTTPClient/1.0 (2.8.3, ruby 2.4.0 (2016-12-24))"/></HTTPHeaders><RequestId>d59f812e-342b-4913-8085-895033d3527a</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAIZFAWKXP4XEATBWQ"/><Argument Name="AssociateTag"
        Value="nofail-21"/><Argument Name="Item.0.ASIN" Value="B008GTZ3KY"/><Argument
        Name="Item.0.Quantity" Value="1"/><Argument Name="Operation" Value="CartCreate"/><Argument
        Name="Service" Value="AWSECommerceService"/><Argument Name="Timestamp" Value="2017-08-15T15:47:29Z"/><Argument
        Name="Version" Value="2011-08-01"/><Argument Name="Signature" Value="No2e3QHJoISopu1UdEuVqJ11PJAv6c7DMsiB2GiVPNk="/></Arguments><RequestProcessingTime>0.06663879</RequestProcessingTime></OperationRequest><Cart><Request><IsValid>True</IsValid><CartCreateRequest><Items><Item><ASIN>B008GTZ3KY</ASIN><Quantity>1</Quantity></Item></Items></CartCreateRequest></Request><CartId>261-3094416-4923462</CartId><HMAC>9MIyQ6ucSLBK2EPW6WKAn8m4SZw=</HMAC><URLEncodedHMAC>9MIyQ6ucSLBK2EPW6WKAn8m4SZw%3D</URLEncodedHMAC></Cart></CartCreateResponse>
  recorded_at: Tue, 15 Aug 2017 15:47:29 GMT
- request:
    method: get
    uri: http://webservices.amazon.de/onca/xml?AWSAccessKeyId=AKIAIZFAWKXP4XEATBWQ&AssociateTag=nofail-21&CartId=261-3094416-4923462&HMAC=9MIyQ6ucSLBK2EPW6WKAn8m4SZw=&Operation=CartGet&Service=AWSECommerceService&Signature=Q8M7EU5kjCKtYrfNFzv57oRRdkKmF96%2B6qg/MZOcufg=&Timestamp=2017-08-15T15:47:29Z&Version=2011-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" ?><CartGetResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="HTTPClient/1.0 (2.8.3, ruby 2.4.0 (2016-12-24))"/></HTTPHeaders><RequestId>347d2976-e0ac-4ece-8f55-9641d551d557</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAIZFAWKXP4XEATBWQ"/><Argument Name="AssociateTag"
        Value="nofail-21"/><Argument Name="CartId" Value="261-3094416-4923462"/><Argument
        Name="HMAC" Value="9MIyQ6ucSLBK2EPW6WKAn8m4SZw="/><Argument Name="Operation"
        Value="CartGet"/><Argument Name="Service" Value="AWSECommerceService"/><Argument
        Name="Timestamp" Value="2017-08-15T15:47:29Z"/><Argument Name="Version" Value="2011-08-01"/><Argument
        Name="Signature" Value="Q8M7EU5kjCKtYrfNFzv57oRRdkKmF96+6qg/MZOcufg="/></Arguments><RequestProcessingTime>0.027124433</RequestProcessingTime></OperationRequest><Cart><Request><IsValid>True</IsValid><CartGetRequest><CartId>261-3094416-4923462</CartId><HMAC>9MIyQ6ucSLBK2EPW6WKAn8m4SZw=</HMAC></CartGetRequest></Request><CartId>261-3094416-4923462</CartId><HMAC>9MIyQ6ucSLBK2EPW6WKAn8m4SZw=</HMAC><URLEncodedHMAC>9MIyQ6ucSLBK2EPW6WKAn8m4SZw%3D</URLEncodedHMAC></Cart></CartGetResponse>
  recorded_at: Tue, 15 Aug 2017 15:47:29 GMT
recorded_with: VCR 3.0.3
