---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.de/onca/xml?AWSAccessKeyId=AKIAIZFAWKXP4XEATBWQ&AssociateTag=nofail-21&ItemId=B008GTZ3KY&Operation=ItemLookup&ResponseGroup=Small,AlternateVersions&Service=AWSECommerceService&Signature=LGdg8zumLTicHChNPOTixV/yxRjVdsRlNxzi/7IYe4o=&Timestamp=2017-08-15T15:36:18Z&Version=2011-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="HTTPClient/1.0 (2.8.3, ruby 2.4.0 (2016-12-24))"></Header></HTTPHeaders><RequestId>1429945c-e47d-4082-8882-beeb21773af8</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAIZFAWKXP4XEATBWQ"></Argument><Argument Name="AssociateTag"
        Value="nofail-21"></Argument><Argument Name="ItemId" Value="B008GTZ3KY"></Argument><Argument
        Name="Operation" Value="ItemLookup"></Argument><Argument Name="ResponseGroup"
        Value="Small,AlternateVersions"></Argument><Argument Name="Service" Value="AWSECommerceService"></Argument><Argument
        Name="Timestamp" Value="2017-08-15T15:36:18Z"></Argument><Argument Name="Version"
        Value="2011-08-01"></Argument><Argument Name="Signature" Value="LGdg8zumLTicHChNPOTixV/yxRjVdsRlNxzi/7IYe4o="></Argument></Arguments><RequestProcessingTime>0.0287906450000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>ASIN</IdType><ItemId>B008GTZ3KY</ItemId><ResponseGroup>Small</ResponseGroup><ResponseGroup>AlternateVersions</ResponseGroup><VariationPage>All</VariationPage></ItemLookupRequest></Request><Item><ASIN>B008GTZ3KY</ASIN><DetailPageURL>https://www.amazon.de/Learn-Objective-C-Mac-OS-iOS-ebook/dp/B008GTZ3KY?SubscriptionId=AKIAIZFAWKXP4XEATBWQ&amp;tag=nofail-21&amp;linkCode=xm2&amp;camp=2025&amp;creative=165953&amp;creativeASIN=B008GTZ3KY</DetailPageURL><ItemLinks><ItemLink><Description>Add
        To Wishlist</Description><URL>https://www.amazon.de/gp/registry/wishlist/add-item.html?asin.0=B008GTZ3KY&amp;SubscriptionId=AKIAIZFAWKXP4XEATBWQ&amp;tag=nofail-21&amp;linkCode=xm2&amp;camp=2025&amp;creative=12738&amp;creativeASIN=B008GTZ3KY</URL></ItemLink><ItemLink><Description>Tell
        A Friend</Description><URL>https://www.amazon.de/gp/pdp/taf/B008GTZ3KY?SubscriptionId=AKIAIZFAWKXP4XEATBWQ&amp;tag=nofail-21&amp;linkCode=xm2&amp;camp=2025&amp;creative=12738&amp;creativeASIN=B008GTZ3KY</URL></ItemLink><ItemLink><Description>All
        Customer Reviews</Description><URL>https://www.amazon.de/review/product/B008GTZ3KY?SubscriptionId=AKIAIZFAWKXP4XEATBWQ&amp;tag=nofail-21&amp;linkCode=xm2&amp;camp=2025&amp;creative=12738&amp;creativeASIN=B008GTZ3KY</URL></ItemLink><ItemLink><Description>All
        Offers</Description><URL>https://www.amazon.de/gp/offer-listing/B008GTZ3KY?SubscriptionId=AKIAIZFAWKXP4XEATBWQ&amp;tag=nofail-21&amp;linkCode=xm2&amp;camp=2025&amp;creative=12738&amp;creativeASIN=B008GTZ3KY</URL></ItemLink></ItemLinks><ItemAttributes><Author>Scott
        Knaster</Author><Author>Waqar Malik</Author><Author>Mark Dalrymple</Author><Manufacturer>Apress</Manufacturer><ProductGroup>eBooks</ProductGroup><Title>Learn
        Objective-C on the Mac: For OS X and iOS</Title></ItemAttributes><AlternateVersions><AlternateVersion><ASIN>B01NCQ2W4H</ASIN><Title>Learn
        Objective-C on the Mac: For OS X and iOS by Scott Knaster (2012-06-26)</Title><Binding>Taschenbuch</Binding></AlternateVersion><AlternateVersion><ASIN>B00L6KJ982</ASIN><Title>[(Learn
        Objective-C on the Mac: for OS X and iOS )] [Author: Scott Knaster] [Jul-2012]</Title><Binding>Taschenbuch</Binding></AlternateVersion><AlternateVersion><ASIN>1430241888</ASIN><Title>Learn
        Objective-C on the Mac: For OS X and iOS (Learn Apress)</Title><Binding>Taschenbuch</Binding></AlternateVersion></AlternateVersions></Item></Items></ItemLookupResponse>'
  recorded_at: Tue, 15 Aug 2017 15:36:19 GMT
recorded_with: VCR 3.0.3
