---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.de/onca/xml?AWSAccessKeyId=AKIAIZFAWKXP4XEATBWQ&AssociateTag=nofail-21&ItemId=B008GTZ3KY&Operation=ItemLookup&ResponseGroup=Medium&Service=AWSECommerceService&Signature=J%2BPUNXzDo%2Bl2UMzOD0KoqjPEhRE1XnzuW3ZXenLCZMk=&Timestamp=2017-08-15T15:36:18Z&Version=2011-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="HTTPClient/1.0 (2.8.3, ruby 2.4.0 (2016-12-24))"></Header></HTTPHeaders><RequestId>73892055-1853-4d96-b004-5a3ed45faf1f</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAIZFAWKXP4XEATBWQ"></Argument><Argument Name="AssociateTag"
        Value="nofail-21"></Argument><Argument Name="ItemId" Value="B008GTZ3KY"></Argument><Argument
        Name="Operation" Value="ItemLookup"></Argument><Argument Name="ResponseGroup"
        Value="Medium"></Argument><Argument Name="Service" Value="AWSECommerceService"></Argument><Argument
        Name="Timestamp" Value="2017-08-15T15:36:18Z"></Argument><Argument Name="Version"
        Value="2011-08-01"></Argument><Argument Name="Signature" Value="J+PUNXzDo+l2UMzOD0KoqjPEhRE1XnzuW3ZXenLCZMk="></Argument></Arguments><RequestProcessingTime>0.0577190220000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>ASIN</IdType><ItemId>B008GTZ3KY</ItemId><ResponseGroup>Medium</ResponseGroup><VariationPage>All</VariationPage></ItemLookupRequest></Request><Item><ASIN>B008GTZ3KY</ASIN><DetailPageURL>https://www.amazon.de/Learn-Objective-C-Mac-OS-iOS-ebook/dp/B008GTZ3KY?SubscriptionId=AKIAIZFAWKXP4XEATBWQ&amp;tag=nofail-21&amp;linkCode=xm2&amp;camp=2025&amp;creative=165953&amp;creativeASIN=B008GTZ3KY</DetailPageURL><ItemLinks><ItemLink><Description>Add
        To Wishlist</Description><URL>https://www.amazon.de/gp/registry/wishlist/add-item.html?asin.0=B008GTZ3KY&amp;SubscriptionId=AKIAIZFAWKXP4XEATBWQ&amp;tag=nofail-21&amp;linkCode=xm2&amp;camp=2025&amp;creative=12738&amp;creativeASIN=B008GTZ3KY</URL></ItemLink><ItemLink><Description>Tell
        A Friend</Description><URL>https://www.amazon.de/gp/pdp/taf/B008GTZ3KY?SubscriptionId=AKIAIZFAWKXP4XEATBWQ&amp;tag=nofail-21&amp;linkCode=xm2&amp;camp=2025&amp;creative=12738&amp;creativeASIN=B008GTZ3KY</URL></ItemLink><ItemLink><Description>All
        Customer Reviews</Description><URL>https://www.amazon.de/review/product/B008GTZ3KY?SubscriptionId=AKIAIZFAWKXP4XEATBWQ&amp;tag=nofail-21&amp;linkCode=xm2&amp;camp=2025&amp;creative=12738&amp;creativeASIN=B008GTZ3KY</URL></ItemLink><ItemLink><Description>All
        Offers</Description><URL>https://www.amazon.de/gp/offer-listing/B008GTZ3KY?SubscriptionId=AKIAIZFAWKXP4XEATBWQ&amp;tag=nofail-21&amp;linkCode=xm2&amp;camp=2025&amp;creative=12738&amp;creativeASIN=B008GTZ3KY</URL></ItemLink></ItemLinks><SalesRank>638093</SalesRank><SmallImage><URL>https://images-eu.ssl-images-amazon.com/images/I/41JtF2e17LL._SL75_.jpg</URL><Height
        Units="pixels">75</Height><Width Units="pixels">61</Width></SmallImage><MediumImage><URL>https://images-eu.ssl-images-amazon.com/images/I/41JtF2e17LL._SL160_.jpg</URL><Height
        Units="pixels">160</Height><Width Units="pixels">130</Width></MediumImage><LargeImage><URL>https://images-eu.ssl-images-amazon.com/images/I/41JtF2e17LL.jpg</URL><Height
        Units="pixels">500</Height><Width Units="pixels">405</Width></LargeImage><ImageSets><ImageSet
        Category="primary"><SwatchImage><URL>https://images-eu.ssl-images-amazon.com/images/I/41JtF2e17LL._SL30_.jpg</URL><Height
        Units="pixels">30</Height><Width Units="pixels">24</Width></SwatchImage><SmallImage><URL>https://images-eu.ssl-images-amazon.com/images/I/41JtF2e17LL._SL75_.jpg</URL><Height
        Units="pixels">75</Height><Width Units="pixels">61</Width></SmallImage><ThumbnailImage><URL>https://images-eu.ssl-images-amazon.com/images/I/41JtF2e17LL._SL75_.jpg</URL><Height
        Units="pixels">75</Height><Width Units="pixels">61</Width></ThumbnailImage><TinyImage><URL>https://images-eu.ssl-images-amazon.com/images/I/41JtF2e17LL._SL110_.jpg</URL><Height
        Units="pixels">110</Height><Width Units="pixels">89</Width></TinyImage><MediumImage><URL>https://images-eu.ssl-images-amazon.com/images/I/41JtF2e17LL._SL160_.jpg</URL><Height
        Units="pixels">160</Height><Width Units="pixels">130</Width></MediumImage><LargeImage><URL>https://images-eu.ssl-images-amazon.com/images/I/41JtF2e17LL.jpg</URL><Height
        Units="pixels">500</Height><Width Units="pixels">405</Width></LargeImage></ImageSet></ImageSets><ItemAttributes><Author>Scott
        Knaster</Author><Author>Waqar Malik</Author><Author>Mark Dalrymple</Author><Binding>Kindle
        Edition</Binding><Edition>2</Edition><EISBN>9781430241898</EISBN><Format>Kindle
        eBook</Format><Label>Apress</Label><Languages><Language><Name>Englisch</Name><Type>Published</Type></Language></Languages><Manufacturer>Apress</Manufacturer><NumberOfPages>378</NumberOfPages><ProductGroup>eBooks</ProductGroup><ProductTypeName>ABIS_EBOOKS</ProductTypeName><PublicationDate>2012-06-26</PublicationDate><Publisher>Apress</Publisher><ReleaseDate>2012-06-26</ReleaseDate><Studio>Apress</Studio><Title>Learn
        Objective-C on the Mac: For OS X and iOS</Title></ItemAttributes><EditorialReviews><EditorialReview><Source>Kurzbeschreibung</Source><Content>&lt;p&gt;Learn
        to write apps for some of today''s hottest technologies, including the iPhone
        and iPad (using iOS), as well as the Mac (using OS X). It starts with Objective-C,
        the base language on which the native iOS software development kit (SDK) and
        the OS X are based. &lt;strong&gt;&lt;em&gt;Learn Objective-C on the Mac: For
        OS X and iOS&lt;/em&gt;,&lt;/strong&gt; &lt;strong&gt;&lt;em&gt;Second Edition&lt;/em&gt;&lt;/strong&gt;
        updates a best s[...]
