---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.de/onca/xml?AWSAccessKeyId=AKIAIZFAWKXP4XEATBWQ&AssociateTag=nofail-21&Operation=ItemSearch&SearchIndex=Music&Service=AWSECommerceService&Signature=sILUKtVJ5HTEXfjdRNovdfnjNymgFrwqHE1SasYsU5Y=&Timestamp=2017-08-15T15:36:19Z&Version=2011-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" ?><ItemSearchResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="HTTPClient/1.0 (2.8.3, ruby 2.4.0 (2016-12-24))"></Header></HTTPHeaders><RequestId>6abc8fa0-1abb-447a-8d56-fff719f1dac6</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAIZFAWKXP4XEATBWQ"></Argument><Argument Name="AssociateTag"
        Value="nofail-21"></Argument><Argument Name="Operation" Value="ItemSearch"></Argument><Argument
        Name="SearchIndex" Value="Music"></Argument><Argument Name="Service" Value="AWSECommerceService"></Argument><Argument
        Name="Timestamp" Value="2017-08-15T15:36:19Z"></Argument><Argument Name="Version"
        Value="2011-08-01"></Argument><Argument Name="Signature" Value="sILUKtVJ5HTEXfjdRNovdfnjNymgFrwqHE1SasYsU5Y="></Argument></Arguments><RequestProcessingTime>0.0010450200000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>False</IsValid><ItemSearchRequest><ResponseGroup>Small</ResponseGroup><SearchIndex>Music</SearchIndex></ItemSearchRequest><Errors><Error><Code>AWS.MinimumParameterRequirement</Code><Message>Your
        request should have atleast 1 of the following parameters: ''Keywords'',''Title'',''Power'',''BrowseNode'',''Artist'',''Author'',''Actor'',''Director'',''AudienceRating'',''Manufacturer'',''MusicLabel'',''Composer'',''Publisher'',''Brand'',''Conductor'',''Orchestra'',''TextStream'',''Cuisine'',''City'',''Neighborhood''.</Message></Error></Errors></Request></Items></ItemSearchResponse>'
  recorded_at: Tue, 15 Aug 2017 15:36:19 GMT
recorded_with: VCR 3.0.3
