---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.de/onca/xml?AWSAccessKeyId=AKIAIZFAWKXP4XEATBWQ&AssociateTag=nofail-21&Keywords=nirvana&Operation=ItemSearch&SearchIndex=Music&Service=AWSECommerceService&Signature=nWFY9Qw2UCM5vk56p08R/zdWNHujKwkKL67Rv8OIVGI=&Timestamp=2017-08-15T15:36:19Z&Version=2011-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" ?><ItemSearchResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="HTTPClient/1.0 (2.8.3, ruby 2.4.0 (2016-12-24))"></Header></HTTPHeaders><RequestId>c20cb61d-36f3-4eb2-8fef-354be049a6a5</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAIZFAWKXP4XEATBWQ"></Argument><Argument Name="AssociateTag"
        Value="nofail-21"></Argument><Argument Name="Keywords" Value="nirvana"></Argument><Argument
        Name="Operation" Value="ItemSearch"></Argument><Argument Name="SearchIndex"
        Value="Music"></Argument><Argument Name="Service" Value="AWSECommerceService"></Argument><Argument
        Name="Timestamp" Value="2017-08-15T15:36:19Z"></Argument><Argument Name="Version"
        Value="2011-08-01"></Argument><Argument Name="Signature" Value="nWFY9Qw2UCM5vk56p08R/zdWNHujKwkKL67Rv8OIVGI="></Argument></Arguments><RequestProcessingTime>0.0528429150000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemSearchRequest><Keywords>nirvana</Keywords><ResponseGroup>Small</ResponseGroup><SearchIndex>Music</SearchIndex></ItemSearchRequest></Request><TotalResults>2101</TotalResults><TotalPages>211</TotalPages><MoreSearchResultsUrl>https://www.amazon.de/gp/search?linkCode=xm2&amp;SubscriptionId=AKIAIZFAWKXP4XEATBWQ&amp;keywords=nirvana&amp;tag=nofail-21&amp;creative=12738&amp;url=search-alias%3Dpopular&amp;camp=2025</MoreSearchResultsUrl><Item><ASIN>B0057GYO9K</ASIN><DetailPageURL>https://www.amazon.de/Nevermind-Nirvana/dp/B0057GYO9K?SubscriptionId=AKIAIZFAWKXP4XEATBWQ&amp;tag=nofail-21&amp;linkCode=xm2&amp;camp=2025&amp;creative=165953&amp;creativeASIN=B0057GYO9K</DetailPageURL><ItemLinks><ItemLink><Description>Add
        To Wishlist</Description><URL>https://www.amazon.de/gp/registry/wishlist/add-item.html?asin.0=B0057GYO9K&amp;SubscriptionId=AKIAIZFAWKXP4XEATBWQ&amp;tag=nofail-21&amp;linkCode=xm2&amp;camp=2025&amp;creative=12738&amp;creativeASIN=B0057GYO9K</URL></ItemLink><ItemLink><Description>Tell
        A Friend</Description><URL>https://www.amazon.de/gp/pdp/taf/B0057GYO9K?SubscriptionId=AKIAIZFAWKXP4XEATBWQ&amp;tag=nofail-21&amp;linkCode=xm2&amp;camp=2025&amp;creative=12738&amp;creativeASIN=B0057GYO9K</URL></ItemLink><ItemLink><Description>All
        Customer Reviews</Description><URL>https://www.amazon.de/review/product/B0057GYO9K?SubscriptionId=AKIAIZFAWKXP4XEATBWQ&amp;tag=nofail-21&amp;linkCode=xm2&amp;camp=2025&amp;creative=12738&amp;creativeASIN=B0057GYO9K</URL></ItemLink><ItemLink><Description>All
        Offers</Description><URL>https://www.amazon.de/gp/offer-listing/B0057GYO9K?SubscriptionId=AKIAIZFAWKXP4XEATBWQ&amp;tag=nofail-21&amp;linkCode=xm2&amp;camp=2025&amp;creative=12738&amp;creativeASIN=B0057GYO9K</URL></ItemLink></ItemLinks><ItemAttributes><Artist>Nirvana</Artist><Manufacturer>Geffen
        (Universal Music)</Manufacturer><ProductGroup>Music</ProductGroup><Title>Nevermind</Title></ItemAttributes></Item><Item><ASIN>B000091A5V</ASIN><DetailPageURL>https://www.amazon.de/Nirvana-Best/dp/B000091A5V?SubscriptionId=AKIAIZFAWKXP4XEATBWQ&amp;tag=nofail-21&amp;linkCode=xm2&amp;camp=2025&amp;creative=165953&amp;creativeASIN=B000091A5V</DetailPageURL><ItemLinks><ItemLink><Description>Add
        To Wishlist</Description><URL>https://www.amazon.de/gp/registry/wishlist/add-item.html?asin.0=B000091A5V&amp;SubscriptionId=AKIAIZFAWKXP4XEATBWQ&amp;tag=nofail-21&amp;linkC[...]
